@import url(owl.carousel.min.css);
@import url(animate.min.css);

html {
  font-size: 62.5%;
  overflow-x: hidden; }

#loading {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0;
  background-color: #fbf2e0;
  z-index: 99;
}

#loading-image {
  margin-top: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
}

@font-face{
  font-family: kefa;
  src: url(kefa.ttf);
}

body {
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  font-family: kefa;
  font-weight: 300;
  font-size: 1.6rem; 
  border-radius: 30px;
}
  body:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: .8;
    z-index: -1;
    
    background: -webkit-linear-gradient(to right, black, );
    background: linear-gradient(to right, #060c20, #060c20);
     }

.boxed-page {
  margin: 0 auto;
  margin-top: 6rem;
  margin-bottom: 6rem;
  position: relative;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  background-color: #fbf2e0;

  }

@media (min-width: 1200px) {
  .boxed-page {
    width: 1024px; }
    .boxed-page .container {
      max-width: 1080px;
      padding-left: 30px;
      padding-right: 30px;} }

h1 {
  font-size: 4.8rem; }

h2 {
  font-size: 3.6rem; }

h3 {
  font-size: 3rem; }

h4 {
  font-size: 2.4rem; }

h5 {
  font-size: 1.8rem; }

h6 {
  font-size: 1.6rem; }

h1,
h2,
h3 {
  font-weight: 300;
  line-height: 1.2em; }

h4,
h5,
h6 {
  line-height: 1.5em;
  font-weight: 400; }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: kefa;
  margin-top: 0; }

p {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5em; }

.section-title,
.section-sub-title {
  margin-bottom: 30px; }

.btn {
  font-size: 1.6rem;
  padding: .7rem 1rem; }

img {
  max-width: 100%; }

a:focus,
button:focus {
  outline: none; }

.btn:hover,
a:hover {
  text-decoration: none;
  color: #d05165; }



nav.sticky {
    position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
    max-width: 1024px;
  margin: 0 auto;
  left: 0;
  right: 0;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  background-color: #fbf2e0;
-webkit-box-shadow: 1px 1px 16px 1px rgba(0,0,0,0.6); 
box-shadow: 1px 1px 16px 1px rgba(0,0,0,0.6);
  border-radius: 0; 
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;

  overflow: hidden;
  height: 55px;

}

.nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding-top: 0;
  text-decoration: none;
  font-family: kefa;
  font-size: 12px;
}

}

.nav a:hover {
  background-color: black;
  color: black;
}

.nav a.active {
  background-color: black;
  color: white;
}
.topnav-right{
  float: right;
 

}
.topnav-right a{
  
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  word-spacing: 30px;


}
.topnav-right a:hover{
  color: dimgrey;
}

.icons{
  bottom: 0;
  width: 100%;
  z-index: 1;

  color: white;
  background-color: #060c20;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 15px 0px;
  border-radius: 0; 

  height: 80px;

}
.icons img{
  padding: 10px 20px;

}

.title{
  border-radius: 5px;
}

#myBtn {
  z-index: 200;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #fbf2e0;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  max-width: 50px;
}

#myBtn:hover {
 background: rgb(2,0,36); 
 background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(6,12,32,1) 35%, rgba(0,212,255,1) 100%);
}
.accordion {
  background-color: #060c20;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-family: kefa;
  font-size: 20px;
  font-weight: bold;
  transition: 0.4s;
}

.active2, .accordion:hover {
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(6,12,32,1) 35%, rgba(0,212,255,1) 100%);
}
/*FONDO DEL CARRUSEL*/
.active{
  background-color: #fbf2e0;
}
/* Accordion */
.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  font-weight: bold;
  padding: 0 18px;
  background-color: #fbf2e0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.navbar-form input {
     border: none !important;
}


/*CARRUSEL*/


button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.header_section {
  width: 100%;
  background-color:#fbf2e0;
  

}
.row{
  display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;
}


.banner_section{
  width: 100%;
  float: left;
  padding-bottom: 70px;
  
}
.sport_text{
  width: 100%;
  float: left;
  font-size: 40pt;
  color: black;
}

.lorem_text {
    width: 100%;
    float: left;
    font-size: 14px;
    color: black;
    margin-left: 0px;
}
.boynow_bt {
    width: 43%;
    float: left;
    color: #ffffff;
    background-color: black;
    height: 50px;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
}
.contact_bt {
    width: 43%;
    float: left;
    color: white;
    background-color: #232221;
    height: 50px;
    text-align: center;
    font-size: 20px;
    margin-left: 20px;
    border-radius: 5px;
}

.FAQ p{
 text-align: center !important;


}



/* Main Colors 
#fbf2e0
#060c20
*/
